<app-header> </app-header>

<div class="customcontainer">
        <div class="items clr">
                <p class="a"> Cats </p> <br>
                <img alt="cat"
                        src="https://images.vexels.com/media/users/3/146293/isolated/preview/9ef07a60bc71e849239018d8966ccd45-elegant-black-cat-cartoon-by-vexels.png">
                <p> <b> Description </b> : sjafn fjsdj sksf alsdk also fso so and aso fjsjfk fdfsfdfs fid fid fid fid
                        dif fid fiddif git git contnksd alaska alsdj </p>
                <b> Price: Rs.1800 </b> <br>
                <button class="button button2"> Buy Now </button>
                <button class="button button2"> Add to Cart </button>
        </div>

        <div class="items clr">
                <p class="a"> Dogs </p> <br>
                <img alt="dog" src="https://i.pinimg.com/originals/8f/f9/92/8ff992ac0a9d07ce925129a6348f0173.png">
                <p> <b> Description </b> : sjafn fjsdj sksf alsdk also fso so and aso fjsjfk fdfsfdfs fid fid fid fid
                        dif fid fiddif git git contnksd alaska alsdj </p>
                <b> Price: Rs.1500 </b> <br>
                <button class="button button2"> Buy Now </button>
                <button class="button button2"> Add to Cart </button>
        </div>

        <div class="items clr">
                <p class="a"> Cats </p> <br>
                <img alt="cat"
                        src="https://images.vexels.com/media/users/3/146293/isolated/preview/9ef07a60bc71e849239018d8966ccd45-elegant-black-cat-cartoon-by-vexels.png">
        </div>
        <div class="items clr">
                <p class="a"> Dogs </p> <br>
                <img alt="dog" src="https://i.pinimg.com/originals/8f/f9/92/8ff992ac0a9d07ce925129a6348f0173.png">
        </div>

        <div class="items clr">
                <p class="a"> Cats </p> <br>
                <img alt="cat"
                        src="https://images.vexels.com/media/users/3/146293/isolated/preview/9ef07a60bc71e849239018d8966ccd45-elegant-black-cat-cartoon-by-vexels.png">
        </div>
        <div class="items clr">
                <p class="a"> Dogs </p> <br>
                <img alt="dog" src="https://i.pinimg.com/originals/8f/f9/92/8ff992ac0a9d07ce925129a6348f0173.png">
        </div>
</div>