<app-header> </app-header>

<div class="customcontainer">
        <div class="items clr" *ngFor="let item of productsfiltered; let i = index;">
                <p class="a"> {{ item.productname }} </p> <br>
                <img alt="cat"
                        src="{{ item.imgPath }}">
                        <div class="desc"> <p> <b> Description </b> : {{item.desc | shorten:75 }} </p>  </div>
                <b> Price: Rs.{{item.price}} </b> <br>
                <button class="button button2"> Buy Now </button>
                <button class="button button2"> Add to Cart </button>
        </div>
</div>