<app-header> </app-header>

<div *ngFor="let item of subCategoriesfiltered">
    <span>{{item.subCat}}</span>
</div>




<div class="customcontainer">

<div class="items" *ngFor="let item of subCategoriesfiltered; let i = index;" 
[ngClass]="{ clr: i%2 === 0 }"
>
 <p class="a">  {{item.subCat}} </p>  <br>
 <img alt="cat" src="{{item.imgPath}}">
</div>
<!-- <div class="items clr"> 
 <p class="a"> Dogs </p>  <br>
 <img alt="dog" src="https://i.pinimg.com/originals/8f/f9/92/8ff992ac0a9d07ce925129a6348f0173.png">
 </div> -->

 </div>

